<li>
  <%= link_to 'Services', services_path %>
</li>
<% if user_signed_in? %>
  <li>
    <%= link_to 'New Monit Service', new_service_path %>
  </li>
  <li>
    <%= link_to 'Sign out', signout_path %>
  </li>
<% else %>
  <li>
    <%= link_to 'Sign in', signin_path %>
  </li>
<% end %>
